<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Produkty</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function() {
		// pobieranie danych z endpointu REST
		$.get('/products', function(data) {
			// tworzenie elementów HTML
			$.each(data.products, function(index, product) {
				var item = $('<div>').addClass('product-item');
				var image = $('<img id="itemImage">').attr('src', '/static/uploads/' + product.image);
				var name = $('<h3>').text(product.name);
				var price = $('<p>').text(product.price + ' zł');
				// dodanie elementów do elementu głównego
				item.append(name);
				item.append(image);
				item.append(price);
				// dodanie elementu głównego do listy produktów
				$('#products-list').append(item);
			});
		});
	});
</script>


</head>
<body>
<div id="title">
	<a href="/">
		<img id="logo" src= {{ url_for('static', filename='images/logo.png') }} />
	</a>
	
	<a href="/displayCategory?categoryId=1">
		<img id="mężczyzna" src= {{ url_for('static', filename='images/mężczyzna.png') }} />
	</a>

	<a href="/displayCategory?categoryId=2">
		<img id="kobieta" src= {{ url_for('static', filename='images/kobieta.png') }} />
	</a>

	<a href="/displayCategory?categoryId=3">
		<img id="akcesoria" src= {{ url_for('static', filename='images/akcesoria.png') }} />
	</a>

	<a href="/displayCategory?categoryId=4">
		<img id="biżuteria" src= {{ url_for('static', filename='images/biżuteria.png') }} />
	</a>

	<a href="/displayCategory?categoryId=5">
		<img id="buty" src= {{ url_for('static', filename='images/buty.png') }} />
	</a>

	<a href="/show">
		<img id="koment" src= {{ url_for('static', filename='images/koment.png') }} />
	 </a>

	<div id="kart">
		<a class="link" href="/koszyk">
			<img src={{url_for('static', filename='images/koszyk_zakupowy.png')}} id="koszykIcon" />
			{{noOfItems}}
		</a>
	</div>
	{% if not loggedIn %}
	<div id="signInButton">
		<a class="link" href="/loginForm">Zaloguj się</a>
	</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Cześć, <br>{{firstName}}</button>
		<div class="dropdown-content">
			<a href="/account/profile">Twój Profil</a>
			<hr>
			<a href="/logout">Wyloguj się</a>
		</div>
	</div>
	{% endif %}
</div>
	<div id="info">
		<h2>Aby rozpocząć zakupy przejdż do wybranej kategori u góry ekranu </h2>
	</div>
	<div>
		<h1 id="opis">Spis dostępnych produktów w sklepie:</h1>
		<div id="products-list"></div>
	</div>
</body>
</html>

